$bg_img: radial-gradient(red 5%, yellow 15%, green 60%);
$bg_btn: #71b556;
$bg_c: #222222;

$c_title: #fffff1;
$c_label: #9c9c9c;
$c_content: #fffff1;
$c_register: #71b556;
$c_button: #fffff1;
$c_error: red;
